---
layout: default-layout
---
<div class="container max-w-4xl px-6 mx-auto mt-6">
  <div class="pb-5 mb-5 border-b ">
    <h1 class="text-5xl font-bold">{{title}}</h1>
    <p class="text-base font-medium leading-6 text-right ">
      <time>
        {{ date | readableDate }} by
        <a>{{ author }}</a>
      </time>
    </p>
  </div>
  <article class="mx-auto my-4 prose lg:prose-xl">{{ content | safe }}</article>
  <div id="disqus_thread"></div>
</div>

<script>
  var disqus_config = function () {
    this.page.url = window.location.href;
    this.page.identifier = window.location.pathname;
  };
  (function () {
    var d = document,
      s = d.createElement('script');
    s.src = 'https://estoriteler.disqus.com/embed.js';
    s.setAttribute('data-timestamp', + new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>