---
eleventyExcludeFromCollections: true
layout: default-layout
title: "Nosotros - Ayuda Para La Mujer"
description: "Compartir la experiencia y aprender de otras experiencias de mujeres víctimas de violencia intrafamiliar o de pareja, que alienten a la motivación y fuerza de las mujeres en situaciones semejantes."
---

<img class="w-full" src="/static/img/banner-7.webp" width="1900" height="687"/>
<section class="mt-15">
  <div class="py-16">
    <div class="container px-12 mx-auto">
      <div class="text-stone-950">
        <div class="pb-10 text-center">
          <p class="text-primary font-oswald uppercase">Sobre Nosotros</p>
          <h1 class="text-4xl font-oswald mb-4">Nuestra Misión: Impulsar el<br/>
            <span class="text-5xl text-primary">Empoderamiento Femenino</span></h1>
          <div class="text-xl">
            <p>En Ayuda Para La Mujer, nos dedicamos a construir un mundo donde todas las mujeres se sientan fuertes y capacitadas. Nuestra misión es proporcionar recursos, conocimientos y apoyo para empoderar a las mujeres en todas las etapas de sus vidas. Descubre más sobre nosotros y únete a nuestra causa.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class=" grid grid-cols-2 gap-4 px-6 ">
  <div >
    <h4 class="text-xl text-center font-oswald font-bold mb-4">El primer paso es conocer, visita nuestras Redes Sociales</h4>
    <div class="flex justify-center gap-2">
      <a target="_blank" class="">
        <div class="avatar placeholder">
          <div class="bg-primary rounded-full w-12">
            <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-white">
              <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
            </svg>
          </div>
        </div>
      </a>
      <a target="_blank" class="">
        <div class="avatar placeholder">
          <div class="bg-primary rounded-full w-12">
            <a>
              <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-white">
                <path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path>
              </svg>
            </a>
          </div>
        </div>
      </a>
      <a target="_blank" class="">
        <div class="avatar placeholder">
          <div class="bg-primary rounded-full w-12">
            <a>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-white">
                <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
              </svg>
            </a>
          </div>
        </div>
      </a>
    </div>

    <div class="mt-4 ">
      <h5 class="text-2xl text-center font-oswald ">Conoce las historias de grandes mujeres</h5>
      <p class="mt-4 text-center">Descubre cómo puedes superar las adversidades en tu vida. Sumérgete en las historias más inspiradoras y conmovedoras que han capturado la atención de muchos. Además, te invitamos a compartir tus propias experiencias, ya que cada historia es única y valiosa. Juntos, podemos aprender, crecer y apoyarnos mutuamente en nuestro viaje hacia la superación personal. ¡Únete a nuestra comunidad de historias de resiliencia y fortaleza!</p>
      <img src="/static/img/contact.png" alt="Contacto Foto" class="mt-4 " width="795" height="1164">
    </div>
    <div class="mt-4 text-center ">
      <a href="/blog" class="btn btn-primary btn-wide text-white uppercase ">Leer Testimonios</a>
    </div>
  </div>
  <div class="my-auto" >
    <div class="text-xl text-center font-oswald mb-4">Comunícate con nosotros</div>
    <div class="text-lg text-center ">
      <h4>Rellena el formulario y te contactaremos muy pronto.</h4>
    </div>
    <form name="Contacto - Ayuda Para la Mujer" method="POST" class="mt-4" data-netlify="true">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="mb-4">
          <label class="block text-sm font-medium">Nombre:</label>
          <input type="text" name="Nombre" class="input input-bordered w-full max-w-xs"/>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium">Correo:</label>
          <input type="text" name="Correo"  class="input input-bordered w-full max-w-xs"/>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium ">Edad:</label>
          <select id="select-age" name="Edad" class="select select-bordered w-full max-w-xs">
            <option disabled selected>Edad:</option>
          </select>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium ">Ciudad</label>
          <input type="text" name="Ciudad"  class="input input-bordered w-full max-w-xs"/>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium ">Estado</label>
          <input type="text"  name="Estado" class="input input-bordered w-full max-w-xs"/>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium ">Estado Civil:</label>
          <select  id="civil-status" name="estado-civil" class="select select-bordered w-full max-w-xs"></select>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-medium">Ocupación:</label>
          <select  id="Occupation" name="Ocupacion" class="select select-bordered w-full max-w-xs"></select>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-medium">Ingreso Mensual:</label>
          <select  id="Income" name="Ingreso" class="select select-bordered w-full max-w-xs"></select>
        </div>

        <div class="mb-4">
          <label  class="block text-sm font-medium ">Escolaridad:</label>
          <select id="Education"  name="Escolaridad" class="select select-bordered w-full max-w-xs"></select>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium ">Cuantos hijos tiene:</label>
          <select name="Cantidad de Hijos" class="select select-bordered w-full max-w-xs">
            <option>Ninguno</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>3 o más</option>
          </select>
        </div>
      </div>
      <div class="mb-4">
        <label  class="block text-sm font-medium ">¿En qué te podemos ayudar?</label>

        <textarea name="Mensaje" class="textarea textarea-bordered textarea-lg w-full " ></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn text-center btn-primary  btn-wide text-white uppercase ">Enviar</button>
      </div>
    </form>
  </div>
</div>
<script>
  // Function to populate dropdowns with numbers
  function populateNumbersDropdown(start, end, dropdownId) {
    var dropdown = document.getElementById(dropdownId);

    for (var i = start; i <= end; i++) {
      var option = document.createElement("option");
      option.text = i;
      option.value = i;
      dropdown.add(option);
    }
  }

  // Function to populate civil status dropdown
  function populateCivilStatusDropdown(dropdownId) {
    var civilStatusOptions = [
      "Seleccione una opción",
      "Soltera",
      "Casada",
      "Divorciada",
      "Viuda",
      "Unión Libre"
    ];
    populateDropdownFromArray(civilStatusOptions, dropdownId);
  }

  // Function to populate occupation dropdown
  function populateOccupationDropdown(dropdownId) {
    var occupationOptions = [
      "Seleccione una opción", "Abogada", "Administradora", "Agricultora",
      /* ... add more occupations ... */
      "Otro..."
    ];
    populateDropdownFromArray(occupationOptions, dropdownId);
  }

  // Function to populate monthly income dropdown
  function populateIncomeDropdown(dropdownId) {
    var incomeOptions = [
      "Seleccione una opción",
      "$0-$5000",
      "$5001-$10,000",
      "$10,001-$15,000",
      "$15,001-$20,000",
      "+$20,000 ...."
    ];
    populateDropdownFromArray(incomeOptions, dropdownId);
  }

  // Function to populate education level dropdown
  function populateEducationDropdown(dropdownId) {
    var educationOptions = [
      "Seleccione una opción",
      "Primaria",
      "Secundaria",
      "Preparatoria",
      "Licenciatura",
      "Maestría",
      "Doctorado"
    ];
    populateDropdownFromArray(educationOptions, dropdownId);
  }

  // Helper function to populate dropdown from an array
  function populateDropdownFromArray(optionsArray, dropdownId) {
    var dropdown = document.getElementById(dropdownId);

    for (var i = 0; i < optionsArray.length; i++) {
      var option = document.createElement("option");
      option.text = optionsArray[i];
      option.value = optionsArray[i];
      dropdown.add(option);
    }
  }

  // Call functions to populate dropdowns
  populateNumbersDropdown(1, 125, "select-age");
  populateCivilStatusDropdown("civil-status");
  populateOccupationDropdown("Occupation");
  populateIncomeDropdown("Income");
  populateEducationDropdown("Education");
</script>